@page
@model RegisterModel
@{
    Layout = null;
    ViewData["Title"] = "Sign Up";
}

<link rel="stylesheet" href="~/css/style.css" />
<link rel="stylesheet" href="~/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/default.css" />
<link rel="stylesheet" href="~/css/fontawesome.css" />
<link rel="stylesheet" href="~/css/ion.rangeSlider.min.css" />
<link rel="stylesheet" href="~/css/all.min.css" />
<link rel="stylesheet" href="~/css/nice-select.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/slick.css" />

<!-- Include JavaScript files -->
<script src="~/js/ajax-contact.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/ion.rangeSlider.min.js"></script>
<script src="~/js/jquery.counterup.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/jquery.nice-select.min.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/slick.min.js"></script>
<script src="~/js/waypoints.min.js"></script>
<script src="~/js/vendor/jquery-1.12.4.min.js"></script>
<script src="~/js/vendor/modernizr-3.7.1.min.js"></script>

@section Header {
    <section>
        <div class="page_banner bg_cover" style="background-image: url(assets/images/page-banner.jpg)">
            <div class="container">
                <div class="page_banner_content">
                    <h3 class="title">Sign Up</h3>
                    <ul class="breadcrumb">
                        <li><a asp-page="/Index">Home</a></li>
                        <li>Sign Up</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
}

    <section class="sign_in_area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7 col-sm-9">
                <div class="sign_in_form">
                    <div class="sign_title">
                        <h5 class="title">Sign Up Now</h5>
                    </div>
                    <form method="post">
                        <div class="sign_form_wrapper">
                            <div class="single_form">
                                <input type="text" name="username" placeholder="Username" required value="@Model.Username" /> <i class="fas fa-user"></i>
                            </div>
                            <div class="single_form">
                                <input type="email" name="email" placeholder="Email" required value="@Model.Email" /> <i class="fas fa-envelope"></i>
                            </div>
                            <div class="single_form">
                                <input type="password" name="password" placeholder="Password" required /> <i class="fas fa-key"></i>
                            </div>
                            <div class="single_form">
                                <input type="password" name="cpassword" placeholder="Confirm password" required /> <i class="fas fa-key"></i>
                            </div>
                            <div class="single_form">
                                <div class="sign_checkbox">
                                    <input type="checkbox" id="checkbox" required />
                                    <label for="checkbox"></label> <span>By registering, you accept our Terms & Conditions</span>
                                </div>
                            </div>
                            <div class="single_form">
                                <button class="main-btn" type="submit" name="signup" value="Signup">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
                <br />
                <div class="link login-link text-center">Already a member? <a href="login.cshtml">Login here</a></div>
            </div>
        </div>
    </div>
</section>

    @await Html.PartialAsync("_Footer")